.add {
    width: 70%;
    margin-left: max(5vw, 25px);
    margin-top: 50px;
    color: #555;
    font-size: 16px;
}

.add form {
    gap: 20px;

}

.add-img-upload img {
    width: 120px;

}

.add-product-name, .add-product-description, .add-product-price, .add-product-category {
    width: max(40%, 280px);
}

input, select, textarea {
    padding: 10px;
}

.add button {
    border: none;
    padding: 10px;
    max-width: 120px;
    background-color: black;
    color: #fff;
    cursor: pointer;
}